3rdParty/Xtreme ToolkitPro v15.2.1
DboClient/.vs
DboClient/Release
DboClient/Release4Tools
DboClient/Client/(Configuration)
DboClient/DragonBall
DboClient/Lib/Discord/Release
DboClient/Lib/Ntl_Plugin_Collis/Release
DboClient/Lib/Ntl_Plugin_Collis/Release4Tools
DboClient/Lib/Ntl_Plugin_Toon/Release
DboClient/Lib/Ntl_Plugin_Toon/Release4Tools
DboClient/Lib/Ntl_Plugin_World/Release
DboClient/Lib/Ntl_Plugin_World/Release4Tools
DboClient/Lib/NtlCore/Release
DboClient/Lib/NtlCore/Release4Tools
DboClient/Lib/NtlFlasher/Release
DboClient/Lib/NtlFlasher/Release4Tools
DboClient/Lib/NtlFlasher/GFx SDK 3.3
DboClient/Lib/NtlFramework/Release
DboClient/Lib/NtlFramework/Release4Tools
DboClient/Lib/NtlGui/Release
DboClient/Lib/NtlGui/Release4Tools
DboClient/Lib/NtlLocalize/Release
DboClient/Lib/NtlLocalize/Release4Tools
DboClient/Lib/NtlMovie/Release
DboClient/Lib/NtlMovie/Release4Tools
DboClient/Lib/NtlPresentation/Release
DboClient/Lib/NtlPresentation/Release4Tools
DboClient/Lib/NtlSimulation/Release
DboClient/Lib/NtlSimulation/Release4Tools
DboClient/Lib/NtlSound/Release
DboClient/Lib/NtlSound/Release4Tools
DboClient/Tool/PackEditor/Release4Tools
DboClient/Tool/TSTool/Release4Tools
DboClient/Tool/TableEditor/Release4Tools
DboServer/.vs
DboServer/x64
DboServer/ExecutionEnv
DboServer/Server/AuthServer/ExecutionEnv
DboServer/Server/CharServer/ExecutionEnv
DboServer/Server/ChatServer/ExecutionEnv
DboServer/Server/GameServer/ExecutionEnv
DboServer/Server/MasterServer/ExecutionEnv
DboServer/Server/QueryServer/ExecutionEnv
DboShared/DboTrigger/Release
DboShared/DboTrigger/Release4Tools
DboShared/NtlGameTable/Release
DboShared/NtlGameTable/Release4Tools
DboShared/NtlShared2/Release
DboShared/NtlShared2/Release4Tools
NtlLib/Client/NtlClientNet/Release
NtlLib/Client/NtlClientNet/Release4Tools
NtlLib/Server/Database/Release
NtlLib/Server/NtlNetwork/Release
NtlLib/Server/NtlSfx/Release
NtlLib/Server/NtlSystem/Release
NtlLib/Server/NtlThread/Release
NtlLib/Server/servercommon/Release
NtlLib/Shared/Release
NtlLib/Shared/Lua/Release
NtlLib/Shared/Lua/Release4Tools
NtlLib/Shared/Navigator
NtlLib/Shared/NtlNavi/Release
NtlLib/Shared/NtlNavi/Release4Tools
NtlLib/Shared/NtlPathEngine/Release
NtlLib/Shared/NtlPathEngine/Release4Tools
NtlLib/Shared/NtlTrigger/Release
NtlLib/Shared/NtlTrigger/Release4Tools
NtlLib/Shared/NtlXMLLoader/Release
NtlLib/Shared/NtlXMLLoader/Release4Tools
NtlLib/Shared/Util/Release
NtlLib/Shared/Util/Release4Tools
NtlLib/Shared/Zip/zlib123/projects/Release
NtlLib/Shared/Zip/zlib123/projects/Release4Tools
NtlLib/Shared/Zip/zlib123/projects/Win32_LIB_Release
DboClient/Tool/2DParticleEditor/Release4Tools/
**/XtremeToolkitPro v13.2.1
**/XtremeToolkitPro v15.2.1/
**/XtremeToolkitProv13.2.1
**/XtremeToolkitProv15.2.1/
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml
/NtlLib/Shared/NtlXMLLoader/xmlparser_i.c
/NtlLib/Shared/NtlXMLLoader/xmlparser_h.h
/NtlLib/Shared/NtlXMLLoader/msxml2_i.c
/NtlLib/Shared/NtlXMLLoader/msxml2_h.h
